<div class="cont">
   <div class="titulo">
     <h4>Evalua y mejora</h4>
     <h4>tus estrategias</h4>
     <h4>empresariales.</h4>
     <h1>EstraMyPyme</h1>
     <div class="byeafitdos">
        <h5>By</h5>
        <img src="https://res.cloudinary.com/dpeqdynym/image/upload/v1721256417/Logo_EAFIT_2015_-_Blanco_wzm6j8.png" width="90px">
     </div>
   </div>
   <div class="trayectory">
        <h5>Más de 20 años de experiencia del Grupo de <br> Estudio de Estrategia (GEE) de EAFIT<br> respaldan esta iniciativa.</h5>
   </div>
</div>
