<div class="user-detail-container">
  <div class="user-detail" *ngIf="editUser">
    <div class="field-group" *ngIf="fieldsVisibility['name']">
      <label for="name">Nombre:</label>
      <input type="text" id="name" [(ngModel)]="userName" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['email']">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="editUser.email" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['programa']">
      <label for="programa">Programa:</label>
      <input type="text" id="programa" [(ngModel)]="editUser.programa" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['periodo']">
      <label for="periodo">Periodo:</label>
      <input type="text" id="periodo" [(ngModel)]="editUser.periodo" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['sector']">
      <label for="sector">Sector:</label>
      <input type="text" id="sector" [(ngModel)]="editUser.sector" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['companyName']">
      <label for="companyName">Nombre de la empresa:</label>
      <input type="text" id="companyName" [(ngModel)]="editUser.companyName" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['nit']">
      <label for="nit">NIT:</label>
      <input type="text" id="nit" [(ngModel)]="editUser.nit" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['role']">
      <label for="role">Role:</label>
      <input type="text" id="role" [(ngModel)]="editUser.role" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['password']">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="editUser.password" [value]="'*********'" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['address']">
      <label for="address">Address:</label>
      <input type="text" id="address" [(ngModel)]="editUser.address" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['phone']">
      <label for="phone">Phone:</label>
      <input type="text" id="phone" [(ngModel)]="editUser.phone" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['website']">
      <label for="website">Website:</label>
      <input type="text" id="website" [(ngModel)]="editUser.website" [disabled]="!isEditing">
    </div>
    <div class="field-group" *ngIf="fieldsVisibility['nombre_empresa'] && editUser.nombre_empresa?.length">
      <label>Empresas asignadas:</label>
      <ul>
        <li *ngFor="let empresa of editUser.nombre_empresa">{{ empresa }}</li>
      </ul>
    </div>
    
    <div class="field-group" *ngIf="fieldsVisibility['nombre_estudiantes'] && editUser.nombre_estudiante?.length">
      <label>Estudiantes asignados:</label>
      <ul>
        <li *ngFor="let estudiante of editUser.nombre_estudiante">{{ estudiante }}</li>
      </ul>
    </div>
  </div>
  
  <div class="field-group" *ngIf="fieldsVisibility['empresa_asignada']">
    <label>Empresas asignadas:</label>
    <ul>
      <li *ngFor="let empresa of editUser.empresa_asignada">{{ empresa }}</li>
    </ul>
  </div>
  
  <div class="field-group" *ngIf="fieldsVisibility['estudante_asignado']">
    <label>Estudiantes asignados:</label>
    <ul>
      <li *ngFor="let estudiante of editUser.estudiante_asignado">{{ estudiante }}</li>
    </ul>
  </div>
 
</div>
<div class="button-container">
  <button class="edit-button" (click)="saveChanges()">{{ isEditing ? 'Guardar' : 'Editar' }}</button>
  <button class="cancel-button" *ngIf="isEditing" (click)="cancelEdit()">Cancelar</button>
</div>
