<div class="user-detail-container">
  <div class="user-detail" *ngIf="editUser">
    <div class="field-group" *ngIf="fieldsVisibility['name']">
      <label for="name">Nombre:</label>
      <input type="text" id="name" [(ngModel)]="userName" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['email']">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="editUser.email" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['programa']">
      <label for="programa">Programa:</label>
      <input type="text" id="programa" [(ngModel)]="editUser.programa" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['periodo']">
      <label for="periodo">Periodo:</label>
      <input type="text" id="periodo" [(ngModel)]="editUser.periodo" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['sector']">
      <label for="sector">Sector:</label>
      <input type="text" id="sector" [(ngModel)]="editUser.sector" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['companyName']">
      <label for="companyName">Nombre de la empresa:</label>
      <input type="text" id="companyName" [(ngModel)]="editUser.companyName" [disabled]="!isEditing">
    </div>

    <div class="field-group" *ngIf="fieldsVisibility['nit']">
      <label for="nit">NIT:</label>
      <input type="text" id="nit" [(ngModel)]="editUser.nit" [disabled]="!isEditing">
    </div>
  </div>
</div>
<div class="button-container">
  <button class="edit-button" (click)="saveChanges()">{{ isEditing ? 'Guardar' : 'Editar' }}</button>
  <button class="cancel-button" *ngIf="isEditing" (click)="cancelEdit()">Cancelar</button>
</div>