*{
    font-family: Inter, sans-serif;
}

.tt-cont {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    overflow: hidden; /* Evita el scroll en la página */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ajusta la altura del viewport */
}

.container {
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 1rem; /* Reduce el padding */
    gap: 1rem; /* Reduce el gap entre los elementos */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
    width: 90%; /* Ajusta el ancho del contenedor */
    max-width: 1000px; /* Establece un ancho máximo para el contenedor */
}

.item {
    background-color: #000000;
    border-radius: 8px;
    padding: 1rem; /* Reduce el padding interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduce la sombra */
    flex: 1;
    min-width: 150px; /* Ajusta el ancho mínimo de los elementos */
    max-width: 300px; /* Aumenta el ancho máximo para evitar cortes */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
    text-align: center; /* Centra el texto dentro de los divs */
    word-wrap: break-word; /* Asegura que el texto largo se ajuste dentro del div */
}

.item img{
    padding-top: 1rem;
}

.titulo {
    color: white;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: #FFF;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    margin: 0.9rem 0;
  }
.item1, .item2, .item3 {
    margin: 0; /* Elimina el margen alrededor de los divs */
}

.item2 {
    border: 2px solid blue; /* Borde azul de 1px */

}

.social-icons img {
    width: 20px; /* Ajusta el tamaño de los iconos */
    height: 20px;
    margin: 0 0.3rem; /* Reduce el margen entre los iconos */
}

/*modo claro */

:host-context(.light-mode) .item {
 
    background-color: white;
    color: black ;
    box-shadow: none;
    }

:host-context(.light-mode) .titulo  {
 
        color: black ;
    }


    :host-context(.light-mode) .item1 img {
        content: url('https://res.cloudinary.com/dduyeudcy/image/upload/v1721519077/73cfbdea51a1a101764ae95123ae9372_mpxbnb.png');
        width: 90px; /* Ajusta el tamaño de los iconos */
        height:50px;
        margin: 0 0.3rem; /* Reduce el margen entre los iconos */
    }
   

/* Media Queries */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center; /* Centra horizontalmente en pantallas pequeñas */
    }

    .item {
        width: 100%; /* Ocupa el ancho completo en pantallas pequeñas */
        max-width: 90%; /* Ajusta el ancho máximo para pantallas pequeñas */
        margin-bottom: 1rem;
    }
}


/* Ocultar iconos en modo oscuro */
:host-context(.dark-mode) .social-icons:last-of-type {
    display: none;
  }
  
  /* Mostrar iconos en modo oscuro */
  :host-context(.dark-mode) .social-icons:first-of-type {
    display: flex;
  }
  
  /* Ocultar iconos en modo claro */
  :host-context(.light-mode) .social-icons:first-of-type {
    display: none;
  }
  
  /* Mostrar iconos en modo claro */
  :host-context(.light-mode) .social-icons:last-of-type {
    display: flex;
  }
  
  /* Asegurarse de que los iconos están centrados */
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacio entre los iconos */
  }
  
  .social-icons img {
    width: 30px; /* Tamaño de los iconos */
    height: auto;
  }