<body>
    <div class="container">
        <div class="item item1">
            <h2>Horarios de Atención:</h2>
            <p>Lunes a Viernes: 9:00 AM - 6:00 PM</p>
            <p>Sábados: 10:00 AM - 2:00 PM</p>
            <p>¡Estamos aquí para ayudarte!</p>
            <img src="https://res.cloudinary.com/dpeqdynym/image/upload/v1721256417/Logo_EAFIT_2015_-_Blanco_wzm6j8.png" width="60px"alt="Logo"> <!-- Asegúrate de reemplazar el src con la ruta de tu imagen -->
        </div>
        <div class="item item2">
            <h2 class="titulo">EstraMyPyme</h2>
            <h3>Contáctanos</h3>
            <p>¿Tienes alguna pregunta o necesitas más información? ¡Nos encantaría saber de ti!</p>
            <p>Email: contacto tusitio.com</p>
            <p>Teléfono: +57 123 456 7890</p>
            <p>Dirección: Calle Falsa 123, Medellín, Colombia</p>
        </div>
        <div class="item item3">
            <h2>Redes</h2>
            <div class="social-icons">
                <img src="instagram-icon.png" alt="Instagram"> <!-- Reemplaza con la ruta del icono -->
                <img src="whatsapp-icon.png" alt="WhatsApp"> <!-- Reemplaza con la ruta del icono -->
                <img src="facebook-icon.png" alt="Facebook"> <!-- Reemplaza con la ruta del icono -->
            </div>
        </div>
    </div>
</body>