<div class="tt-cont">
    <div class="container">
        <div class="item item1">
            <h2>Horarios de Atención:</h2>
            <p>Lunes a Viernes: 8:00 AM - 6:00 PM</p>
            <p>Sábados: Cerrado</p>
            <p>¡Estamos aquí para ayudarte!</p>
            <img src="https://res.cloudinary.com/dpeqdynym/image/upload/v1721256417/Logo_EAFIT_2015_-_Blanco_wzm6j8.png" width="60px" alt="Logo Universidad EAFIT">
        </div>
        <div class="item item2">
            <h2 class="titulo">EstraMiPyme</h2>
            <h3>Contáctanos</h3>
            <p>¿Tienes alguna pregunta o necesitas más información? ¡Nos encantaría saber de ti!</p>
            <p>Email: contacto eafit.edu.co</p>
            <p>Teléfono: +57 4 261 9500</p>
            <p>Dirección: Carrera 49 # 7 Sur - 50, Medellín, Colombia</p>
        </div>
        
        <div class="item item3">
            <h2>Redes</h2>

<!-- Contenedor para los iconos en modo oscuro -->
<div class="social-icons dark-mode">
    <img src="https://res.cloudinary.com/dpeqdynym/image/upload/v1724236590/icons8-c%C3%ADrculo-instagram-30_1_mlsvvg.png" alt="Instagram">
    <img src="https://res.cloudinary.com/dpeqdynym/image/upload/v1724236590/icons8-whatsapp-50_1_dtz2wr.png" alt="WhatsApp">
    <img src="https://res.cloudinary.com/dpeqdynym/image/upload/v1724236590/icons8-facebook-nuevo-50_1_iqhksd.png" alt="Facebook">
  </div>
  
  <!-- Contenedor para los iconos en modo claro -->
  <div class="social-icons light-mode">
    <img src="https://res.cloudinary.com/dpeqdynym/image/upload/v1724236430/icons8-c%C3%ADrculo-instagram-30_r4gniy.png" alt="Instagram">
    <img src="https://res.cloudinary.com/dpeqdynym/image/upload/v1724236430/icons8-whatsapp-50_caedpl.png" alt="WhatsApp">
    <img src="https://res.cloudinary.com/dpeqdynym/image/upload/v1724236430/icons8-facebook-nuevo-50_mbqtou.png" alt="Facebook">
  </div>
  
        </div>
    </div>
</div>