<div class="co-te">
    <div class="container">
        <h1>Diagnóstico</h1>
        <div class="circles">
            <div class="circle">
                <input type="text" placeholder="Información 1">
            </div>
            <div class="plus">+</div>
            <div class="circle">
                <input type="text" placeholder="Información 2">
            </div>
            <div class="plus">+</div>
            <div class="circle">
                <input type="text" placeholder="Información 3">
            </div>
        </div>
        <p class="description">Utilizamos estos tres métodos para evaluar tu negocio y potenciar tus capacidades.</p>
    </div>
</div>