.co-te {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    overflow: hidden; /* Evita el scroll en la página */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura del viewport para centrar verticalmente */
}

.container {
    text-align: center;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre los círculos y los signos más */
}

.circle {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.circle input {
    width: 80%;
    border: none;
    border-radius: 50%;
    text-align: center;
    background: transparent;
    color: #333;
}

.plus {
    font-size: 2rem;
    color: #fff;
    line-height: 100px; /* Centra verticalmente el signo más */
}

.description {
    color: #fff;
    margin-top: 20px;
    font-size: 1rem;
}

/*modo claro */

:host-context(.light-mode) h1, .plus, .description {
     color: black;
    }

@media (max-width: 600px) {
    .circles {
        flex-direction: column; /* Alineación vertical en pantallas pequeñas */
    }

    .circle {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }

    .plus {
        display: none; /* Oculta el signo más en pantallas pequeñas */
    }
}
