
<div class="bod">
  <header>
      <app-funcionesglobales (themeChange)="changeTheme($event)"></app-funcionesglobales>
  </header>
  <!-- Contenedor de controles (cambio de tema y selección de idioma) -->
  <section class="admin-panel">
     <div class="left-info">
        <!-- Logo y Eslogan -->
        <div class="views">
            <app-logomasslogan></app-logomasslogan>
        </div>
<div class="views">
  <div class="grid-container">
    <div class="header">Views</div>
    <div class="data">{{ viewsCount }}</div>
    <div class="data">{{ downloadsCount }}</div>
    <div class="data">{{ registrationsCount }}</div>
    <div class="label">Views</div>
    <div class="label">Descargas</div>
    <div class="label">Registros</div>
  </div>
</div>
       <div class="views">
        <div class="main">
          <button (click)="downloadPDFFromDrive()" class="button">Descargar libro</button>
          
          
          <div class="loader">
            <div class="check">
              <span class="check-one"></span>
              <span class="check-two"></span>
            </div>
          </div>
          
        </div>
       </div>
     
      </div>
     <div class="right-info">
        <!-- Gráficos -->
        <div class="charts">
          
          <ul class="slider charts" >
            <li id="slide1">
          <div class="chart-panel">
            <app-chart id="slide1"[companyId]="selectedCompanyId" chartType="clock"></app-chart>
          </div>
          </li>
          <li id="slide2">
          <div class="chart-panel">

            <app-chart [companyId]="selectedCompanyId" chartType="radar"></app-chart>
          </div>
          </li>
          <li id="slide3">
          <div class="chart-panel circulo">
          <app-circulo-dorado [companyId]="selectedCompanyId"></app-circulo-dorado>
        </div>
        </li>
         </ul>
        
         <ul class="menu">
          <li><a href="#slide1">1</a></li>
          <li><a href="#slide2">2</a></li>
          <li><a href="#slide3">3</a></li>
        </ul>

        </div>
        <!-- Sección de usuarios -->
        <div class="user-section">
          <div class="chart-panel">
          <app-user-list (userSelected)="onUserSelected($event); selectedUser = $event"></app-user-list>
          </div>
          <div class="chart-panel">
          <app-user-detail [user]="selectedUser" (userUpdated)="updateUser($event)"></app-user-detail>
        </div>
        </div>
      </div>
  </section>
</div>



