/* panel-administracion.component.css */
.admin-panel {
  display: flex;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.charts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

/* Ajustes para que los componentes ocupen el mismo alto y se alineen correctamente */
app-user-list,
app-user-detail {
  flex: 1;
  background-color: #6d6d6d;
  padding: 20px;
  border-radius: 10px;
}

app-user-list {
  border: 2px solid #00ff;
}

app-user-detail {
  background-color: #6d6d6d;
}
