<!-- panel-administracion.component.html -->
<div class="admin-panel">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <app-header></app-header>
    <div class="charts">
      <div class="chart-panel">
        <h2>Posición competitiva deseada</h2>
        <app-chart [companyId]="selectedCompanyId" chartType="clock"></app-chart>
      </div>
      <div class="chart-panel">
        <h2>Gráfico 2</h2>
        <app-chart [companyId]="selectedCompanyId" chartType="radar"></app-chart>

      </div>
      <div class="chart-panel">
        <h2>Gráfico 3</h2>
        <!-- Otro gráfico o contenido aquí -->
      </div>
    </div>
    <div class="user-section">
      <app-user-list (userSelected)="onUserSelected($event); selectedUser = $event"></app-user-list>
      <app-user-detail [user]="selectedUser" (userUpdated)="updateUser($event)"></app-user-detail>
    </div>
  </div>
</div>

