* {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.left-info {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 10px;
  text-align: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 20px;
}

.header {
  grid-column: span 3;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
}

.data, .label {
  padding: 10px;
  border-radius: 5px;
}

:host-context(.light-mode) .grid-container {
  border: 2px solid #000;
}

:host-context(.light-mode) .data, 
:host-context(.light-mode) .label {
  background-color: #fff;
  color: #000;
}

:host-context(.light-mode) .header {
  color: #000;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.button {
  position: relative;
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.button:hover {
  background-color: transparent;
  border-color: #fff;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  margin: 30px auto 0 auto;
  border: solid 2px #424242;
  border-top: solid 2px #1c89ff;
  border-radius: 50%;
  opacity: 0;
}

.check {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(-4px, 50px, 0);
  opacity: 0;
}

.check span:nth-child(1) {
  display: block;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
}

.check span:nth-child(2) {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg) translate3d(14px, -4px, 0);
  transform-origin: 100%;
}

.loader.active {
  animation: loading 2s ease-in-out;
  animation-fill-mode: forwards;
}

.check.active {
  opacity: 1;
  transform: translate3d(-4px, 4px, 0);
  transition: all .5s cubic-bezier(.49, 1.74, .38, 1.74);
  transition-delay: .2s;
}

@keyframes loading {
  30% {
    opacity: 1;
  }
  85% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #262626;
  }
  100% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #1c89ff;
  }
}

.bod {
  color: white;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.left-info, .right-info {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.left-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .login-now {
    flex-direction: column;
  }

  .by-eafit {
    margin-top: -3rem;
    gap: 0.5rem;
  }

  .imagen-logo {
    width: 4.5rem;
    height: 2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    display: none;
  }

  .left-info {
    flex: 0 0 50%;
  }

  .right-info {
    flex: 0 0 95%;
  }
}

.admin-panel {
  height: 100%;
  width: 100%;
  display: flex;
}

.right-info {
  flex: 1;
  display: flex;
  padding: 20px;
  flex-direction: column;
  padding: 5rem;
}

.right-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
}

.charts {
  display: contents;
}

.user-section {
  display: contents;
}

.chart-panel:nth-child(1),
.chart-panel:nth-child(2),
.chart-panel:nth-child(3) {
  grid-column: span 1;
  grid-row: 1;
  overflow: hidden;
}

.user-section .chart-panel:nth-child(1) {
  grid-column: span 1;
  grid-row: 2;
  background-color: transparent !important;
  width: 20rem;
  height: 29rem;
  margin-left: -2.5rem;
  margin-top: -9rem;
  margin-bottom: -10rem;
  border: none !important;
  box-shadow: none !important;
}

.user-section .chart-panel:nth-child(2) {
  grid-column: span 2;
  grid-row: 2;
  width: 34rem;
  height: 18rem;
}

.chart-panel {
  flex: 1;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 15rem;
  height: 13rem;
}

.charts app-chart {
  flex: 1;
  margin: 10px;
}

.chart-panel h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

app-user-list {
  flex: 1;
  margin-right: 10px;
  background-color: #6d6d6d;
  border-radius: 10px;
  border: 2px solid #00ff;
  width: 18.4rem;
  height: 20rem;
  margin-left: 1rem;
}

app-user-detail {
  flex: 2;
  background-color: #ffff;
  padding: 20px;
  border-radius: 10px;
}

.circulo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host-context(.light-mode) .chart-panel:nth-child(1),
.chart-panel:nth-child(2),
.chart-panel:nth-child(3) {
  border: 0.15rem solid black;
}

:host-context(.light-mode) .button {
  background-color: #ffffff;
  border-color: #1c89ff;
  color: #000000;
}

:host-context(.light-mode) .button:hover {
  background-color: #1c89ff;
  border-color: #1c89ff;
  color: #ffffff;
}

:host-context(.light-mode) .check span:nth-child(1),
:host-context(.light-mode) .check span:nth-child(2) {
  background-color: #000000;
}
