
<div class="bod">
  <header>
      <app-funcionesglobales (themeChange)="changeTheme($event)"></app-funcionesglobales>
  </header>
  <!-- Contenedor de controles (cambio de tema y selección de idioma) -->
  <section class="admin-panel">
     <div class="left-info">
        <!-- Logo y Eslogan -->
        <div class="views">
            <app-logomasslogan></app-logomasslogan>
        </div>
        <div class="views">
            <div class="grid-container">
              <div class="header">Views</div>
              <div class="data">30</div>
              <div class="data">40</div>
              <div class="data">33</div>
              <div class="label">Diarios</div>
              <div class="label">Mensuales</div>
              <div class="label">Anuales</div>
            </div>
       </div>
       <div class="views">
        <div class="main">
          <button class="button">Descargar libro</button>
          
          
          <div class="loader">
            <div class="check">
              <span class="check-one"></span>
              <span class="check-two"></span>
            </div>
          </div>
          
        </div>
       </div>
     
      </div>
     <div class="right-info">
        <!-- Gráficos -->
        <div class="charts">
          <div class="chart-panel">
           
            <app-chart [companyId]="selectedCompanyId" chartType="clock"></app-chart>
          </div>
          <div class="chart-panel">

            <app-chart [companyId]="selectedCompanyId" chartType="radar"></app-chart>
          </div>
          
          <div class="chart-panel circulo">
          <app-circulo-dorado [companyId]="selectedCompanyId"></app-circulo-dorado>
        </div>


        </div>
        <!-- Sección de usuarios -->
        <div class="user-section">
          <div class="chart-panel">
          <app-user-list (userSelected)="onUserSelected($event); selectedUser = $event"></app-user-list>
          </div>
          <div class="chart-panel">
          <app-user-detail [user]="selectedUser" (userUpdated)="updateUser($event)"></app-user-detail>
        </div>
        </div>
      </div>
  </section>
</div>



