
  .logo{
    color: white;
    padding: 2rem;
    display: inline-block;
        
  }
  .by-eafit{
    margin-top:-3.5rem;
    margin-left:8rem;
    display:flex;
    gap: 1rem;
    align-items: flex-end;
  }
  
  .imagen-logo {
      width: 5.8rem;
      height: 2.5rem;
      flex-shrink: 0;
  }
  
  
  h1 {
    font-style: italic;
    font-size: 2rem; 
    font-weight: 900;
  }
  
  
  h6 {
    font-size: 0.875rem;
  }
  
  p {
    font-size: 1.5rem; 
    font-weight: 300;
  }
  

  /*stylos modo claro */

  :host-context(.light-mode) .logo  {
    color: black;
  }

  :host-context(.light-mode) .imagen-logo {
    content: url('https://res.cloudinary.com/dduyeudcy/image/upload/v1721519077/73cfbdea51a1a101764ae95123ae9372_mpxbnb.png');
    width: 8rem; 
    height: 5rem; 
    translate: 0 1.25rem;
    transform: translateX(-1.800rem);
    z-index: -1;  
  }

 