<section class="modificadores">

<div class="lenguaje"></div>
<div class="modo"></div>

</section>

<section class="Information">

<div class="image">
   <img src="src/assets/imagenes.jpg" alt="logo">
</div>


<div class="registro">

  <div><form class="register">
       
       
       <p class="data ">Datos Personales y de la Empresa</p>

       <div><label class="pure-material-textfield-outlined largo ">
              <input placeholder=" ">
              <span >Name</span>
       </label></div>

       <div><label class="pure-material-textfield-outlined largo ">
              <input placeholder=" ">
              <span >Nit</span>
       </label></div>

       <select class=" tipo" required>
              <option selected disabled value="">Tipo de Empresa</option>
              <option value="jweb">Junior Web Developer</option>
              <option value="sweb">Senior Web Developer</option>
              <option value="pmanager">Project Manager</option>
       </select>

           <p class="center">Tipo de persona</p>

       <div class="controlradio">
           <label class="control">Natural
              <input type="radio" name="radio" id="male" />
              <div class="control__indicator"></div>
          </label>
          <label class="control">Juridica
              <input type="radio" name="radio" id="male" />
              <div class="control__indicator"></div>
          </label>
       </div>

       <select class=" tipo" required>
              <option selected disabled value="">Tipo de Propiedad</option>
              <option value="jweb">Junior Web Developer</option>
              <option value="sweb">Senior Web Developer</option>
              <option value="pmanager">Project Manager</option>
       </select>



       <p class="data">Email de acceso</p>

       <div><label class="pure-material-textfield-outlined largo ">
              <input placeholder=" ">
              <span >Correo Electronico</span>
       </label></div>

       <div><label class="pure-material-textfield-outlined largo ">
              <input placeholder=" ">
              <span >Contraseña</span>
       </label></div>
       
       <p class="data">Informacion adicional</p>

       <div><label class="pure-material-textfield-outlined largo ">
              <input placeholder=" ">
              <span >Contraseña</span>
       </label></div>

       <div><label class="pure-material-textfield-outlined largo ">
              <input placeholder=" ">
              <span >Contraseña</span>
       </label></div>

       <div><label class="pure-material-textfield-outlined largo ">
              <input placeholder=" ">
              <span >Contraseña</span>
       </label></div>

       <div><label class="pure-material-textfield-outlined largo ">
              <input placeholder=" ">
              <span >Contraseña</span>
       </label></div>

       <div><label class="pure-material-textfield-outlined largo ">
              <input placeholder=" ">
              <span >Contraseña</span>
       </label></div>
            
      


       <div class="terms">
              <input type="checkbox" id="acceptTerms" name="acceptTerms">
              <label for="acceptTerms">Acepto <a class="color" href="#" target="_blank">Términos y Condiciones</a> y <a class="color" href="#" target="_blank">Politicas de proteccion de Datos </a></label>
       </div>
       
    </form></div>
  </div>
</section>


