


*{
  font-family: "Inter", sans-serif;
}

.register-container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white; 
  display: flex; 
  margin: 0;
  padding: 0;
  left: 0px;


  
}
/*modos*/
.modos {
  width: 100%;
  height: 100px;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
 

}

.language {
  border: white solid 0.125rem;
  border-radius: 1.875rem;
  color: white;
  background-color: black;
  width: 6.25rem;
  height: 1.875rem;
  padding: 0rem 0.625rem 0rem;
  font-size: 1.125rem;
  margin-right: -50px;
  margin-top: 50px;
}


.modo {
  width: 4rem;
  height: 4rem;
  margin-right: 200px;
  margin-top: 23px;
}

/*light mode */

.light-mode {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
 

}

.light-mode .imagen-logo {
  content: url('https://res.cloudinary.com/dduyeudcy/image/upload/v1721519077/73cfbdea51a1a101764ae95123ae9372_mpxbnb.png');
  width: 6.8rem;
  height: 2.5rem;
}

.light-mode .slider {
  border: black solid 0.125rem; 
}

.light-mode .language {
 background-color: white;
 color: black;
 border: black solid 0.125rem;
}


.light-mode .registro-ok {
  background-color: white;
  border: #0000ff solid 4px; 
}

.light-mode .titulo {

  color: black;

}
.light-mode #btn-empresa {

  color: white;
  background-color: black;
}

.light-mode #btn-consultor{

  color: white;
  background-color: black;
}

/*register*/

.light-mode .data {
  color: black;
}

.light-mode .pure-material-textfield-outlined > input
 {
  color: black;
  border-color: black;
}

.light-mode .pure-material-textfield-outlined > textarea{
  color: black;
  border-color: black;
}

.light-mode .pure-material-textfield-outlined > input + span {
  color:  black;
  border-color: black;

}

.light-mode .pure-material-textfield-outlined > textarea + span {
  color:  black;
  border-color: black;

}

.light-mode .pure-material-textfield-outlined > input + span::before,
.light-mode .pure-material-textfield-outlined > input + span::after,
.light-mode .pure-material-textfield-outlined > textarea + span::before,
.light-mode .pure-material-textfield-outlined > textarea + span::after {

  border-top-color: black;
}


/* Hover */
.light-mode .pure-material-textfield-outlined:hover > input,
.light-mode .pure-material-textfield-outlined:hover > textarea {
  border-color: balck;
 
}

.light-mode .pure-material-textfield-outlined:hover > input + span::before,
.light-mode .pure-material-textfield-outlined:hover > textarea + span::before,
.light-mode .pure-material-textfield-outlined:hover > input + span::after,
.light-mode .pure-material-textfield-outlined:hover > textarea + span::after {
  border-top-color:  black;
}

.light-mode .pure-material-textfield-outlined:hover > input:not(:focus):placeholder-shown,
.light-mode .pure-material-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
  border-color:  black;
}

/* Placeholder-shown */
.light-mode .pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
.light-mode .pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
  border-top-color: black;
}

/* Focus */
.light-mode .pure-material-textfield-outlined > input:focus,
.light-mode .pure-material-textfield-outlined > textarea:focus {
  border-color: #0000ff;
 
}

.light-mode .pure-material-textfield-outlined > input:focus + span,
.light-mode .pure-material-textfield-outlined > textarea:focus + span {
  color: #0000ff;
}

.light-mode .pure-material-textfield-outlined > input:focus + span::before,
.light-mode .pure-material-textfield-outlined > input:focus + span::after,
.light-mode .pure-material-textfield-outlined > textarea:focus + span::before,
.light-mode .pure-material-textfield-outlined > textarea:focus + span::after {
  border-top-color: #0000ff !important;

}

.light-mode .center {
  color: black;
}

.light-mode .control {
  color: black;
}


.light-mode .tipo {
  border-color: black;
  color: black;
}

.light-mode .terms label{

  color: black;
}

.light-mode .button-eye {
  color: black;
}


.switch {
  position: relative;
  margin-left: 100%;
  top: 40%;
  transform: translateX(-50%) translateY(25rem);
  width: 8.75rem;
  height: 4.375rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  width: 4.25rem;
  height: 1.800rem;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: white solid 0.125rem;
  border-radius: 1.875rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  left: 3.125rem;
  bottom: 0.25rem;
  background: url('https://res.cloudinary.com/dduyeudcy/image/upload/v1721485960/icons8-luna-creciente-20_t9pa5h.png') no-repeat center center;
  -webkit-transition: .4s;
  transition: .4s;
  margin-left: -20px;
  top: -7px;
}

.slider:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 0;
  bottom: 0.5625rem;
  width: 2.5rem;
  opacity: 0;
  height: 2.5rem;
  -webkit-transition:.2s;
  transition: .2s;
  margin-left: -2px;
  top: -10px;
  transform: rotate(180deg);
  background: url('https://res.cloudinary.com/dduyeudcy/image/upload/v1721486195/icons8-sun-20_1_l1bwx3.png') no-repeat center center;
}

input:checked + .slider:after {
  left: auto;
  opacity: 1;
  -webkit-transform: translateX(6.25rem);
  -ms-transform: translateX(6.25rem);
  transform: translateX(6.25rem);
  transform: translateY(0.3125rem);
  -webkit-transition: .5s;
  transition: .5s;
}

input:checked + .slider {
  background-color: black;
}




/*logo*/
.login-now {
      height: 50%;
      width: 30%;
      display: flex;
      margin-right: 100px;
      margin-left: 50px;
      position: relative;
      top: 150px;
      right: 0px;
      left: 20px;
  }

  .stilo {
    font-weight: thin;
    
  }
.left-info, .right-info {
      flex: 1;
      justify-content: center;
      align-items: center;
  }

.left-info {
       display:flex;
      justify-content: center;
      align-items: center;
  }

.logo{

      padding: 1rem;
      display: inline-block;
      
}
.by-eafit{
  margin-top:-3.5rem;
  margin-left:8rem;
  display:flex;
  gap: 1rem;
  align-items: flex-end;
}

.imagen-logo {
    width: 5.8rem;
    height: 2.5rem;
    flex-shrink: 0;
}


h1 {
  font-style: italic;
  font-size: 2rem; 
  font-weight: 900;
}


h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.5rem; 
  font-weight: 300;
}


@media (max-width: 700px) {
  .login-now {
    flex-direction: column;
  }

  .by-eafit {
    margin-top: -3rem;
    gap: 0.5rem; 
  }

  .imagen-logo {
    width: 4.5rem;
    height: 2rem; 
  }

  h1 {
    font-size: 1.5rem; 
  }

  p {
    display: none;
  }
  
  .left-info {
  flex: 0 0 5%;
}

.right-info {
  flex: 0 0 95%; 
}
}





/*Register*/

:root {
  --font-family: sans-serif,arial;
}

.retroceso {
  width: 600px; 
  height: auto;
  background: transparent;
  left: 550px;
  top: 110px;
  position: absolute; 
  margin: -30px;
}




.registro-ok {
  width: 600px; 
  height: 600px;
  background: black;
  border: #0000ff solid 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #555 #191919; /* Firefox */
  position:relative;
  top: 120px;
  right: 0px;
  left: 20px;


}

.titulo{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 30px;
  margin-bottom: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.data {

  color: #fff;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family:  arial;
    margin-left: 40px;
   
}


.largo{
  width: 75%; 
  height: auto;
  margin-top: -10px;
  margin-bottom: 20px;
  color: white;
}

.pure-material-textfield-outlined {
  --pure-material-safari-helper1: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  position: relative;
  display: inline-block;
  padding-top: 18px;
  margin-right: 30px;
  margin-left: 100px;
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 12px;
  line-height: 1.5;
  overflow: hidden;
}

/* Input, Textarea */
.pure-material-textfield-outlined > input,
.pure-material-textfield-outlined > textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 1px ; /* Safari */
  border-color: white;
  border-top-color: transparent;
  border-radius: 4px;
  padding: 15px 13px 15px;
  width: 100%;
  height: 30px;
  color: white;
  background-color: transparent;
  box-shadow: none; /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transition: border 0.2s, box-shadow 0.2s;
 


}

/* Span */
.pure-material-textfield-outlined > input + span,
.pure-material-textfield-outlined > textarea + span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color:  white;
  width: 100%;
  height: 40px;
  max-height: 100%;
  color:  white;
  font-size:90%;
  line-height: 15px;
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
  
  
}

/* Corners */
.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::before,
.pure-material-textfield-outlined > textarea + span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 18px;
  border-top: solid 1px;
  border-top-color: white;
  min-width: 5px;
  height: 8px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > textarea + span::before {
  margin-right: 4px;
  border-left: solid 1px transparent;
  border-radius: 4px 0;
}

.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 4px;
}

/* Hover */
.pure-material-textfield-outlined:hover > input,
.pure-material-textfield-outlined:hover > textarea {
  border-color: white;
  border-top-color: transparent;
}

.pure-material-textfield-outlined:hover > input + span::before,
.pure-material-textfield-outlined:hover > textarea + span::before,
.pure-material-textfield-outlined:hover > input + span::after,
.pure-material-textfield-outlined:hover > textarea + span::after {
  border-top-color:  white;
}

.pure-material-textfield-outlined:hover > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
  border-color:  white;
}

/* Placeholder-shown */
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
  border-top-color: white;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 68px;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}

/* Focus */
.pure-material-textfield-outlined > input:focus,
.pure-material-textfield-outlined > textarea:focus {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  border-top-color: transparent;
  box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);
  outline: none;
}

.pure-material-textfield-outlined > input:focus + span,
.pure-material-textfield-outlined > textarea:focus + span {
  color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-textfield-outlined > input:focus + span::before,
.pure-material-textfield-outlined > input:focus + span::after,
.pure-material-textfield-outlined > textarea:focus + span::before,
.pure-material-textfield-outlined > textarea:focus + span::after {
  border-top-color: var(--pure-material-safari-helper1) !important;/**/
  box-shadow: inset 0 1px var(--pure-material-safari-helper1);
}

/* Disabled */
.pure-material-textfield-outlined > input:disabled,
.pure-material-textfield-outlined > input:disabled + span,
.pure-material-textfield-outlined > textarea:disabled,
.pure-material-textfield-outlined > textarea:disabled + span {
  border-color: white !important;
  border-top-color: transparent !important;
  color:  white;
  pointer-events: none;
}

.pure-material-textfield-outlined > input:disabled + span::before,
.pure-material-textfield-outlined > input:disabled + span::after,
.pure-material-textfield-outlined > textarea:disabled + span::before,
.pure-material-textfield-outlined > textarea:disabled + span::after {
  border-top-color:  white !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span {
  border-top-color:  white !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::after {
  border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
      .pure-material-textfield-outlined > input,
      .pure-material-textfield-outlined > input + span,
      .pure-material-textfield-outlined > textarea,
      .pure-material-textfield-outlined > textarea + span,
      .pure-material-textfield-outlined > input + span::before,
      .pure-material-textfield-outlined > input + span::after,
      .pure-material-textfield-outlined > textarea + span::before,
      .pure-material-textfield-outlined > textarea + span::after {
          transition-duration: 0.1s;
      }
  }
}



/*contraseña ojo styel*/


.eye {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
  
}


.toggle-password {
  position: relative;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  
}

.eye {
  position: relative;
  display: flex;
  align-items: center;
}

.button-eye  {
  position: relative;
  background: transparent;
  border: none;
  color: #fdfdfd;
}

.button-eye i {
  display: flex;
  justify-content: flex-end;
  transform: translateY( -22px);
  margin-left: 410px;
 
  
}

.button-eye i:hover {
  color: #0000ff;
}





.tipo {
  background-color: transparent;
  color: white;
  font-size: 13px;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  padding: 5px;
  border: solid 1px white;
  margin-left: 0cap;
  margin-top: 10px;
  position: relative;
}
/* Añadir flecha personalizada */
.tipo::after {
  content: '▼'; /* Símbolo de flecha hacia abajo */
  color: white;
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Asegura que la flecha no interfiera con la selección */
}

.tipo option {
  background-color: #191919; 
  color: white;
}

.center{
  color: #fff;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
  font-family: var(--font-family);
  margin-left: 250px;
  transform: translateY( 0px);
 
}

.che{
  display: block;
}

.ches{
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 30px;
}

.controlradio {
  display: flex;
  margin-left: 50px;
  color: white;
  font-size: 10px;
  font-family: var(--font-family);
  margin-bottom: 2px;
  transform: translateY( 16px);
  font-display: row;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 15px;
  color:white;
  margin: 6px 10px;
}

.terms{
  color: #fff;
  display: block;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 30px;


}


.color{
  color: #0000ff;
  }




/* button*/

.boton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.botonn {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: -10rem;
  gap: 1rem;
 

}



#btn-empresa {
  background-color:white;
  font-size: 15px;
  width: 100px;
  height: 40px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: box-shadow 0.3s ease;
  color: black;
  margin-right: 0px;
  border:black solid 2px;
}

#btn-consultor {
  background-color: white;
  font-size: 14px;
  width: 110px;
  height: 40px;
  font-weight: bold;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0px;
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: box-shadow 0.3s ease;
  color: black;
  border: black solid 2px;
  translate: -17px 0px;
}


.pure-material-button-contained {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  padding: 0 16px;
  min-width: 100px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: #0000ff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
  border: none;
}

/* Overlay */
.pure-material-button-contained::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 40px; /* Safari */
  height: 32px; /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
  opacity: 0.08;
}

.pure-material-button-contained:focus::before {
  opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.pure-material-button-contained:disabled::before {
  opacity: 0;
}

.pure-material-button-contained:disabled::after {
  opacity: 0;
}




/*media query*/
@media screen and (max-width <= 700px)  {




 
   
  }


/*end register */








    
