
:root {
  --font-family: sans-serif,arial;
}
/*Register*/
.retroceso {
  width: 600px; 
  height: auto;
  background: transparent;
  left: 550px;
  top: 110px;
  position: absolute; 
  margin: -30px;
}

.registro-ok {
  width: 100%; 
  height: auto;
}


.register {
  width: 600px; 
  height: 600px;
  background: #191919;
  border: 3px solid blue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #555 #191919; /* Firefox */
  left: 550px;
  top: 110px;

}

.titulo{
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-bottom: 10px;
  color:white;
  font-size: 35px;
  font-family: arial;
  font-weight: bold;
}

.data {

  color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    font-family:  arial;
    margin-left: 40px;
   
}


.largo{
  width: 75%; 
  height: auto;
  margin-top: 5px;
  margin-bottom: 0px;
  color: white;
}

.pure-material-textfield-outlined {
  --pure-material-safari-helper1: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  position: relative;
  display: inline-block;
  padding-top: 18px;
  margin-right: 30px;
  margin-left: 100px;
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 12px;
  line-height: 1.5;
  overflow: hidden;
}

/* Input, Textarea */
.pure-material-textfield-outlined > input,
.pure-material-textfield-outlined > textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 1px ; /* Safari */
  border-color: white;
  border-top-color: transparent;
  border-radius: 4px;
  padding: 15px 13px 15px;
  width: 100%;
  height: 30px;
  color: white;
  background-color: transparent;
  box-shadow: none; /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transition: border 0.2s, box-shadow 0.2s;
 


}

/* Span */
.pure-material-textfield-outlined > input + span,
.pure-material-textfield-outlined > textarea + span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color:  white;
  width: 100%;
  height: 40px;
  max-height: 100%;
  color:  white;
  font-size:90%;
  line-height: 15px;
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
  
  
}

/* Corners */
.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::before,
.pure-material-textfield-outlined > textarea + span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 18px;
  border-top: solid 1px;
  border-top-color: white;
  min-width: 5px;
  height: 8px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > textarea + span::before {
  margin-right: 4px;
  border-left: solid 1px transparent;
  border-radius: 4px 0;
}

.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 4px;
}

/* Hover */
.pure-material-textfield-outlined:hover > input,
.pure-material-textfield-outlined:hover > textarea {
  border-color: white;
  border-top-color: transparent;
}

.pure-material-textfield-outlined:hover > input + span::before,
.pure-material-textfield-outlined:hover > textarea + span::before,
.pure-material-textfield-outlined:hover > input + span::after,
.pure-material-textfield-outlined:hover > textarea + span::after {
  border-top-color:  white;
}

.pure-material-textfield-outlined:hover > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
  border-color:  white;
}

/* Placeholder-shown */
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
  border-top-color: white;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 68px;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}

/* Focus */
.pure-material-textfield-outlined > input:focus,
.pure-material-textfield-outlined > textarea:focus {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  border-top-color: transparent;
  box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);
  outline: none;
}

.pure-material-textfield-outlined > input:focus + span,
.pure-material-textfield-outlined > textarea:focus + span {
  color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-textfield-outlined > input:focus + span::before,
.pure-material-textfield-outlined > input:focus + span::after,
.pure-material-textfield-outlined > textarea:focus + span::before,
.pure-material-textfield-outlined > textarea:focus + span::after {
  border-top-color: var(--pure-material-safari-helper1) !important;
  box-shadow: inset 0 1px var(--pure-material-safari-helper1);
}

/* Disabled */
.pure-material-textfield-outlined > input:disabled,
.pure-material-textfield-outlined > input:disabled + span,
.pure-material-textfield-outlined > textarea:disabled,
.pure-material-textfield-outlined > textarea:disabled + span {
  border-color: white !important;
  border-top-color: transparent !important;
  color:  white;
  pointer-events: none;
}

.pure-material-textfield-outlined > input:disabled + span::before,
.pure-material-textfield-outlined > input:disabled + span::after,
.pure-material-textfield-outlined > textarea:disabled + span::before,
.pure-material-textfield-outlined > textarea:disabled + span::after {
  border-top-color:  white !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span {
  border-top-color:  white !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::after {
  border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
      .pure-material-textfield-outlined > input,
      .pure-material-textfield-outlined > input + span,
      .pure-material-textfield-outlined > textarea,
      .pure-material-textfield-outlined > textarea + span,
      .pure-material-textfield-outlined > input + span::before,
      .pure-material-textfield-outlined > input + span::after,
      .pure-material-textfield-outlined > textarea + span::before,
      .pure-material-textfield-outlined > textarea + span::after {
          transition-duration: 0.1s;
      }
  }
}



/*contraseña ojo styel*/
.password-container {
  position: relative;
  display: flex;
  align-items: center;
  
}


.toggle-password {
  position: relative;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  
}




.button-eye  {
  position: relative;
  background: transparent;
  border: none;
  color: #fdfdfd;
}
.button-eye i {
  display: flex;
  justify-content: flex-end;
  transform: translateY( -22px);
  margin-left: 400px;
  
}

.button-eye i:hover {
  color: blue;
}





.tipo {
  background-color: transparent;
  color: white;
  font-size: 13px;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  padding: 5px;
  border: solid 1px white;
  margin-left: 0cap;
  margin-top: 10px;
  position: relative;
}
/* Añadir flecha personalizada */
.tipo::after {
  content: '▼'; /* Símbolo de flecha hacia abajo */
  color: white;
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Asegura que la flecha no interfiera con la selección */
}

.tipo option {
  background-color: #191919; 
  color: white;
}

.center{
  color: #fff;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
  font-family: var(--font-family);
  margin-left: 250px;
  transform: translateY( 0px);
 
}

.che{
  display: block;
}

.ches{
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  
}

.controlradio {
  display: flex;
  margin-left: 50px;
  color: white;
  font-size: 10px;
  font-family: var(--font-family);
  margin-bottom: 2px;
  transform: translateY( 16px);
  font-display: row;
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 15px;
  color:white;
  margin: 6px 10px;
}

.terms{
  color: #fff;
  display: block;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 50px;


}


.color{
  color: blue;
  }




/* button*/

.boton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.pure-material-button-contained {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  padding: 0 16px;
  min-width: 100px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: #224afb;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
  border: none;
}

/* Overlay */
.pure-material-button-contained::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 40px; /* Safari */
  height: 32px; /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
  opacity: 0.08;
}

.pure-material-button-contained:focus::before {
  opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.pure-material-button-contained:disabled::before {
  opacity: 0;
}

.pure-material-button-contained:disabled::after {
  opacity: 0;
}

/*Button x */

.circle {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
  margin-left: 2%;
}

.button-x {
  position: relative;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  padding: 0 16px;
  min-width: 50px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: #555;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.button-x::-moz-focus-inner {
  border: none;
}

/* Overlay */
.button-x::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.button-x::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 40px; /* Safari */
  height: 32px; /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.button-x:hover,
.button-x:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button-x:hover::before {
  opacity: 0.08;
}

.button-x:focus::before {
  opacity: 0.24;
}

.button-x:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.button-x:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.button-x:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.button-x:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.button-x:disabled::before {
  opacity: 0;
}

.button-x:disabled::after {
  opacity: 0;
}


/*media query*/
@media screen and (width <= 770px) and (height <= 600px) {

  .body{

  width: 100vh;
  height: 100vh;
  overflow: hidden;
  
  }


.retroceso{
  position: static;
  margin: 0;
  padding: 0;
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
  max-width: 90%;
  
}

  .registro-ok{
    position: static;
    width: 100%;
    height: 100%;
    padding: 15px 10px 15px;
    
  }

  .register{
   
    width: 100%;
    height: 100%;
    display: flex;
    left: 0px;
    top: 0px;

  }
  





}

/*end register */








    
