* {
  font-family: "Inter", sans-serif;
}

.register-container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white; 
  display: flex; 
  margin: 0;
  padding: 0;
  left: 0;
 

}



/*modos*/
.modos {
  width: 100%;
  height: 6.25rem; /* 100px / 16 */
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 7;
}
 .modos1{
  display: flex;
  align-items: start;
   
 }

.language {
  border: white solid 0.125rem;
  border-radius: 1.875rem; 
  color: white;
  background-color: black;
  width: 6.25rem; 
  height: 1.875rem; 
  padding: 0rem 0.625rem;
  font-size: 1.125rem; 
  margin-right: -3.125rem; 
  margin-top: 3.125rem;
  z-index: 4;
  position: relative;
}

.modo {
  width: 4rem;
  height: 4rem;
  margin-right: 13rem;
  margin-top: .5rem; 
  margin-left: -1.875rem;
}

/*light mode */

.light-mode {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

.light-mode .imagen-logo {
  content: url('https://res.cloudinary.com/dduyeudcy/image/upload/v1721519077/73cfbdea51a1a101764ae95123ae9372_mpxbnb.png');
  width: 8rem; 
  height: 5rem; 
  translate: 0 1.25rem;
  transform: translateX(-1.800rem);

}



.light-mode .slider {
  border: black solid 0.125rem; 
}

.light-mode .language {
  background-color: white;
  color: black;
  border: black solid 0.125rem;
}

.light-mode .registro-ok {
  background-color: white;
  border: #0000ff solid 0.25rem; /* 4px / 16 */
}

.light-mode .titulo {
  color: black;
}

.light-mode #btn-empresa {
  color: white;
  background-color: black;
}

.light-mode #btn-consultor {
  color: white;
  background-color: black;
  border-left: 2px solid white;
}

/*register*/

.light-mode .data {
  color: black;
}

.light-mode .pure-material-textfield-outlined > input {
  color: black;
  border-color: black;
}
 
/**/
.light-mode .pure-material-textfield-outlined > textarea {
  color: black;
  border-color: black;
}

.light-mode .pure-material-textfield-outlined > input + span {
  color: black;
  border-color: black;
}

.light-mode .pure-material-textfield-outlined > textarea + span {
  color: black;
  border-color: black;
}

.light-mode .pure-material-textfield-outlined > input + span::before,
.light-mode .pure-material-textfield-outlined > input + span::after,
.light-mode .pure-material-textfield-outlined > textarea + span::before,
.light-mode .pure-material-textfield-outlined > textarea + span::after {
  border-top-color: black;
}

/* Hover */
.light-mode .pure-material-textfield-outlined:hover > input,
.light-mode .pure-material-textfield-outlined:hover > textarea {
  border-color: black;
}

.light-mode .pure-material-textfield-outlined:hover > input + span::before,
.light-mode .pure-material-textfield-outlined:hover > textarea + span::before,
.light-mode .pure-material-textfield-outlined:hover > input + span::after,
.light-mode .pure-material-textfield-outlined:hover > textarea + span::after {
  border-top-color: black;
}

.light-mode .pure-material-textfield-outlined:hover > input:not(:focus):placeholder-shown,
.light-mode .pure-material-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
  border-color: black;
}

/* Placeholder-shown */
.light-mode .pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
.light-mode .pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
  border-top-color: black;
}

/* Focus */
.light-mode .pure-material-textfield-outlined > input:focus,
.light-mode .pure-material-textfield-outlined > textarea:focus {
  border-color: #0000ff;
}

.light-mode .pure-material-textfield-outlined > input:focus + span,
.light-mode .pure-material-textfield-outlined > textarea:focus + span {
  color: #0000ff;
}

.light-mode .pure-material-textfield-outlined > input:focus + span::before,
.light-mode .pure-material-textfield-outlined > input:focus + span::after,
.light-mode .pure-material-textfield-outlined > textarea:focus + span::before,
.light-mode .pure-material-textfield-outlined > textarea:focus + span::after {
  border-top-color: #0000ff !important;
}

.light-mode .center {
  color: black;
}

.light-mode .control {
  color: black;
}

.light-mode .tipo {
  border-color: black;
  color: black;
}

.light-mode .terms label {
  color: black;
}

.light-mode .button-eye {
  color: black;
}

.switch {
  position: relative;
  margin-left: 6.25rem; /* 100px / 16 */
  top: 2.5rem; /* 40px / 16 */
  transform: translateX(-50%) translateY(25rem);
  width: 8.75rem; /* 140px / 16 */
  height: 4.375rem; /* 70px / 16 */
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  width: 4.25rem; /* 68px / 16 */
  height: 1.7rem; /* 28.8px / 16 */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: white solid 0.125rem;
  border-radius: 1.875rem; /* 30px / 16 */
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.5rem; /* 40px / 16 */
  width: 2.5rem; /* 40px / 16 */
  left: 3.125rem; /* 50px / 16 */
  bottom: 0.25rem; /* 4px / 16 */
  background: url('https://res.cloudinary.com/dduyeudcy/image/upload/v1721485960/icons8-luna-creciente-20_t9pa5h.png') no-repeat center center;
  -webkit-transition: .4s;
  transition: .4s;
  margin-left: -1.25rem; /* -20px / 16 */
  top: -0.4375rem; /* -7px / 16 */
}

.slider:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 0;
  bottom: 0.5625rem; /* 9px / 16 */
  width: 2.5rem; /* 40px / 16 */
  opacity: 0;
  height: 2.5rem; /* 40px / 16 */
  -webkit-transition: .2s;
  transition: .2s;
  margin-left: -0.125rem; /* -2px / 16 */
  top: -0.625rem; /* -10px / 16 */
  transform: rotate(180deg);
  background: url('https://res.cloudinary.com/dduyeudcy/image/upload/v1721486195/icons8-sun-20_1_l1bwx3.png') no-repeat center center;
}

input:checked + .slider:after {
  left: auto;
  opacity: 1;
  -webkit-transform: translateX(6.25rem); /* 100px / 16 */
  -ms-transform: translateX(6.25rem); /* 100px / 16 */
  transform: translateX(6.25rem); /* 100px / 16 */
  transform: translateY(0.3125rem); /* 5px / 16 */
  -webkit-transition: .5s;
  transition: .5s;
}

input:checked + .slider {
  background-color: black;
}

/* logo */
.login-now {
  height: 50%;
  width: 30%;
  display: flex;
  margin-right: 6.25rem; /* 100px / 16 */
  margin-left: 3.125rem; /* 50px / 16 */
  position: relative;
  top: 9.375rem; /* 150px / 16 */
  right: 0;
  left: 1.25rem; /* 20px / 16 */
}

.stilo {
  font-weight: thin;
}

.left-info, .right-info {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.left-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 1rem;
  display: inline-block;
 
}

.by-eafit {
  margin-top: -3.5rem; /* -56px / 16 */
  margin-left: 8rem; /* 128px / 16 */
  display: flex;
  gap: 1rem; /* 16px / 16 */
  align-items: flex-end;
}

.imagen-logo {
  z-index: 1; 
  width: 5.8rem; /* 92.8px / 16 */
  height: 2.5rem; /* 40px / 16 */
  flex-shrink: 0;
}

/**/
h1 {
    position: relative;
  z-index: 2; 
  font-style: italic;
  font-size: 2rem; 
  font-weight: 900;

}

h6 {
  position: relative;
  z-index: 3; 
  font-size: 0.875rem; /* 14px / 16 */
 
}

p {
  font-size: 1.5rem; 
  font-weight: 300;
}

/* Register */

:root {
  --font-family: sans-serif, arial;
}

.retroceso {
  width: 37.5rem; /* 600px / 16 */
  height: auto;
  background: transparent;
  left: 34.375rem; /* 550px / 16 */
  top: 6.875rem; /* 110px / 16 */
  position: absolute; 
  margin: -1.875rem; /* -30px / 16 */
}

.registro-ok {
  width: 37.5rem; /* 600px / 16 */
  height: 37.5rem; /* 600px / 16 */
  background: black;
  border: #0000ff solid 0.125rem; /* 2px / 16 */
  border-radius: 0.625rem; /* 10px / 16 */
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #555 #191919; /* Firefox */
  position: relative;
  top: 7.5rem; /* 120px / 16 */
  right: 0;
  left: 1.25rem; /* 20px / 16 */
  z-index: 5;

}

.titulo {
  display: flex;
  justify-content: center;
  margin-top: 3rem; /* 48px / 16 */
  margin-left: .01rem; /* 30px / 16 */
  margin-bottom: 0.625rem; /* 10px / 16 */
  color: white;
  font-size: 1.125rem; /* 18px / 16 */
  font-weight: bold;
  text-transform: uppercase;
}

.data {
  color: #fff;
  text-align: left;
  font-size: 0.875rem; /* 14px / 16 */
  font-weight: 600;
  margin-bottom: 0.9375rem; /* 15px / 16 */
  font-family: arial;
  margin-left: 2.5rem; /* 40px / 16 */
}

.largo {
  width: 75%; 
  height: auto;
  margin-top: -0.625rem; /* -10px / 16 */
  margin-bottom: 1.25rem; /* 20px / 16 */
  color: white;
}

.pure-material-textfield-outlined {
  --pure-material-safari-helper1: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  position: relative;
  display: inline-block;
  padding-top: 1.125rem; /* 18px / 16 */
  margin-right: 1.875rem; /* 30px / 16 */
  margin-left: 6.25rem; /* 100px / 16 */
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 0.75rem; /* 12px / 16 */
  line-height: 1.5;
  overflow: hidden;
}

/* Input, Textarea */
.pure-material-textfield-outlined > input,
.pure-material-textfield-outlined > textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 0.0625rem; /* 1px / 16 */
  border-color: white;
  border-top-color: transparent;
  border-radius: 0.25rem; /* 4px / 16 */
  padding: 0.9375rem 0.8125rem 0.9375rem; /* 15px / 16 */
  width: 100%;
  height: 1.875rem; /* 30px / 16 */
  color: white;
  background-color: transparent;
  box-shadow: none; /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.pure-material-textfield-outlined > input + span,
.pure-material-textfield-outlined > textarea + span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color: white;
  width: 100%;
  height: 2.5rem; /* 40px / 16 */
  max-height: 100%;
  color: white;
  font-size: 0.9rem; /* 14.4px / 16 */
  line-height: 0.9375rem; /* 15px / 16 */
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::before,
.pure-material-textfield-outlined > textarea + span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 1.125rem; /* 18px / 16 */
  border-top: solid 0.0625rem; /* 1px / 16 */
  border-top-color: white;
  min-width: 0.3125rem; /* 5px / 16 */
  height: 0.5rem; /* 8px / 16 */
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

/*3*/
.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > textarea + span::before {
  margin-right: 0.25rem;
  border-left: solid 0.0625rem transparent;
  border-radius: 0.25rem 0;
}

.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::after {
  flex-grow: 1;
  margin-left: 0.25rem;
  border-right: solid 0.0625rem transparent;
  border-radius: 0 0.25rem;
}

/* Hover */
.pure-material-textfield-outlined:hover > input,
.pure-material-textfield-outlined:hover > textarea {
  border-color: white;
  border-top-color: transparent;
}

.pure-material-textfield-outlined:hover > input + span::before,
.pure-material-textfield-outlined:hover > textarea + span::before,
.pure-material-textfield-outlined:hover > input + span::after,
.pure-material-textfield-outlined:hover > textarea + span::after {
  border-top-color: white;
}

.pure-material-textfield-outlined:hover > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined:hover > textarea:not(:focus):placeholder-shown {
  border-color: white;
}

/* Placeholder-shown */
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown {
  border-top-color: white;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 4.25rem;
}

.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::before,
.pure-material-textfield-outlined > input:not(:focus):placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}

/* Focus */
.pure-material-textfield-outlined > input:focus,
.pure-material-textfield-outlined > textarea:focus {
  border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  border-top-color: transparent;
  box-shadow: inset 0.0625rem 0 var(--pure-material-safari-helper1), inset -0.0625rem 0 var(--pure-material-safari-helper1), inset 0 -0.0625rem var(--pure-material-safari-helper1);
  outline: none;
}

.pure-material-textfield-outlined > input:focus + span,
.pure-material-textfield-outlined > textarea:focus + span {
  color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-textfield-outlined > input:focus + span::before,
.pure-material-textfield-outlined > input:focus + span::after,
.pure-material-textfield-outlined > textarea:focus + span::before,
.pure-material-textfield-outlined > textarea:focus + span::after {
  border-top-color: var(--pure-material-safari-helper1) !important;
  box-shadow: inset 0 0.0625rem var(--pure-material-safari-helper1);
}

/* Disabled */
.pure-material-textfield-outlined > input:disabled,
.pure-material-textfield-outlined > input:disabled + span,
.pure-material-textfield-outlined > textarea:disabled,
.pure-material-textfield-outlined > textarea:disabled + span {
  border-color: white !important;
  border-top-color: transparent !important;
  color: white;
  pointer-events: none;
}

.pure-material-textfield-outlined > input:disabled + span::before,
.pure-material-textfield-outlined > input:disabled + span::after,
.pure-material-textfield-outlined > textarea:disabled + span::before,
.pure-material-textfield-outlined > textarea:disabled + span::after {
  border-top-color: white !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span {
  border-top-color: white !important;
}

.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > input:disabled:placeholder-shown + span::after,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::before,
.pure-material-textfield-outlined > textarea:disabled:placeholder-shown + span::after {
  border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticeable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
      .pure-material-textfield-outlined > input,
      .pure-material-textfield-outlined > input + span,
      .pure-material-textfield-outlined > textarea,
      .pure-material-textfield-outlined > textarea + span,
      .pure-material-textfield-outlined > input + span::before,
      .pure-material-textfield-outlined > input + span::after,
      .pure-material-textfield-outlined > textarea + span::before,
      .pure-material-textfield-outlined > textarea + span::after {
          transition-duration: 0.1s;
      }
  }
}

/* Contraseña ojo style */

.eye {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: relative;
  top: 0.7rem;
  right: 0.625rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button-eye {
  position: relative;
  background: transparent;
  border: none;
  color: #fdfdfd;
}

.button-eye i {
  display: flex;
  justify-content: flex-end;
  transform: translateY(-1.375rem);
  margin-left: 25.625rem;
}

.button-eye i:hover {
  color: #0000ff;
}

.tipo {
  background-color: transparent;
  color: white;
  font-size: 0.8125rem;
  width: 100%;
  height: 1.875rem;
  border-radius: 0.25rem;
  padding: 0.3125rem;
  border: solid 0.0625rem white;
  margin-left: 0;
  margin-top: 0.625rem;
  position: relative;
}

/* Añadir flecha personalizada */
.tipo::after {
  content: '▼'; /* Símbolo de flecha hacia abajo */
  color: white;
  position: absolute;
  right: 6.25rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Asegura que la flecha no interfiera con la selección */
}

.tipo option {
  background-color: #191919;
  color: white;
}

.center {
  color: #fff;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0;
  font-family: var(--font-family);
  margin-left: 15.625rem;
  transform: translateY(0);
}

/*4*/


.ches {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 6.25rem; /* 100px */
  margin-bottom: 1.875rem; /* 30px */


}



.controlradio {
  display: flex;
  margin-left: 3.125rem; /* 50px */
  color: white;
  font-size: 0.625rem; /* 10px */
  font-family: var(--font-family);
  margin-bottom: 0.125rem; /* 2px */
  transform: translateY(1rem); /* 16px */
  font-display: row;
}

.control {
  display: block;
  position: relative;
  padding-left: 1.875rem; /* 30px */
  margin-bottom: 0.3125rem; /* 5px */
  cursor: pointer;
  font-size: 0.9375rem; /* 15px */
  color: white;
  margin: 0.375rem 0.625rem; /* 6px 10px */
}

.terms {
  color: #fff;
  display: block;
  justify-content: center;
  margin-top: 0.9375rem; /* 15px */
  margin-bottom: 1.25rem; /* 20px */
  margin-left: 1.875rem; /* 30px */
}

.color {
  color: #0000ff;
}

/* Button */

.boton {
  width: 100%;
  height: 6.25rem; /* 100px */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem; /* 20px */
  margin-bottom: 1.875rem; /* 30px */
}

.botonn {
  width: 100%;
  height: 6.25rem; /* 100px */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem; /* 20px */
  margin-bottom: 1.875rem; /* 30px */
  margin-left: 0rem; /* -10rem (negative margin-left) */
  gap: 1rem; /* 16px */
}

#btn-empresa {
  background-color: white;
  font-size: 0.9375rem; /* 15px */
  width: 6.25rem; /* 100px */
  height: 2.5rem; /* 40px */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 0.625rem; /* 10px */
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  color: black;
  margin-right: 0;
  border: black solid 0.125rem; /* 2px */
}

#btn-consultor {
  background-color: white;
  font-size: 0.875rem; /* 14px */
  width: 6.875rem; /* 110px */
  height: 2.5rem; /* 40px */
  font-weight: bold;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  color: black;
  border: black solid 0.125rem; /* 2px */
  transform: translate(-1.0625rem, 0); /* -17px */
}

.pure-material-button-contained {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 1.25rem; /* 20px */
  padding: 0 1rem; /* 16px */
  min-width: 6.25rem; /* 100px */
  height: 3.125rem; /* 50px */
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: #0000ff;
  box-shadow: 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2), 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
  line-height: 2.25rem; /* 36px */
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
  border: none;
}

/* Overlay */
.pure-material-button-contained::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 2.5rem; /* 40px */
  height: 2rem; /* 32px */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
  box-shadow: 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.2), 0 0.25rem 0.3125rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.625rem 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
  opacity: 0.08;
}

.pure-material-button-contained:focus::before {
  opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
  box-shadow: 0 0.3125rem 0.3125rem -0.1875rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.625rem 0.0625rem rgba(0, 0, 0, 0.14), 0 0.1875rem 0.875rem 0.125rem rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.pure-material-button-contained:disabled::before {
  opacity: 0;
}

.pure-material-button-contained:disabled::after {
  opacity: 0;
}

/* Esconder flechas de año */
#year input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Media query */
@media screen and (max-width: 43.75rem) { /* 700px */
  .register-container {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
   
  }
 
.modos{
  width: 100%;
  height: 3.125rem;
  display: flex;
  align-content: start;
  justify-content: flex-end;
  position: relative;
  padding: 0;
  
}
.modos1{
  width: 20%;
  left: 58%;
  right: 10%;
  bottom: 2%;
  position: absolute;
  display: flex;
  align-items: start;
  
}

.modo{
  right: 5%;
}

.slider{
  width: 3rem;
}

.slider:before {
  height: 2.5rem; /* 40px / 16 */
  width: 2.5rem; /* 40px / 16 */
  left: 3.125rem; /* 50px / 16 */
  bottom: 0.25rem; /* 4px / 16 */
  translate: -15px 0px;
}


.langua{
  margin-right: 0.25rem;
 
}

.language{
  translate: 0.625rem 0;
  width: 4rem;
}



.registro-ok{
  width: 90%;
  height: 70%;
  top: 9%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  display: flex;

}

.botonn{
width: 100%;
position: relative;
display: flex;
justify-items: center;
margin: 0;
top: 0.625rem;
}

.register{
  width: 100%;
  display: block;
  justify-items: start;
  margin: 0;
  padding: 0;
}

.data{
  width: 90%;
  left: 0.3125rem;
  right: 0.3125rem;
  display: flex;
  justify-content: center;
  

}



.a{
  margin: 5px;
  translate: 10px  20px;
}

.c{
  margin: 5px;
  translate: 10px  20px;
}

.d{
  margin: 5px;
  translate: 10px  20px;
}

.b{
  translate: 10px 30px;
  margin: 5px;
}

.tipo{
  border: solid 0.125rem;
}






/*diseño input*/

.pure-material-textfield-outlined {
  top: 2rem;
  margin: 0;
  padding: 0;
  width: 90%;
  position: relative;
  display: inline-block;
  padding-top: 1.125rem; 
  margin-right: 5%;
  margin-left: 5%;
  font-size: 0.9375rem; 
  line-height: 1.5;
  overflow: hidden;
}

/* Input, Textarea */
.pure-material-textfield-outlined > input,
.pure-material-textfield-outlined > textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 0.125rem;
  border-color: white;
  border-top-color: black;
  border-radius: 0.25rem;
  width: 100%;
  height: 1.875rem; 
  color: white;
  background-color: transparent;
  box-shadow: none; 
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  caret-color: #0000ff;
  transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.pure-material-textfield-outlined > input + span,
.pure-material-textfield-outlined > textarea + span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color: white;
  width: 100%;
  height: 2.5rem; /* 40px / 16 */
  max-height: 100%;
  color: white;
  font-size: 0.9rem; /* 14.4px / 16 */
  line-height: 0.9375rem; /* 15px / 16 */
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.pure-material-textfield-outlined > input + span::before,
.pure-material-textfield-outlined > input + span::after,
.pure-material-textfield-outlined > textarea + span::before,
.pure-material-textfield-outlined > textarea + span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 1.125rem; /* 18px / 16 */
  border-top: solid 0.0625rem; /* 1px / 16 */
  border-top-color: rgb(255, 255, 255);
  min-width: 0.3125rem; /* 5px / 16 */
  height: 0.5rem; /* 8px / 16 */
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}
/*end*/

.button-eye i {
  width: 100%;
  margin: 0;
  translate:  17rem -.4rem ;

}


.center {
  display: flex;
  justify-content: start;
  margin: 0;
 translate: 1rem 3rem;

}

.controlradio{
  top: 5px;
  display: flex;
  align-items: center;
  translate: -110px 40px;
  margin: 0;
}

.terms{
  margin: 0;
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 13px;
}

#just-validate-error-label {

  color: blue;

}




}


/*logo*/

@media (max-width: 43.75rem) {
  .login-now {
    width: 100%;
    height: 3.125rem;
    top: 0rem;
    left: 0;
    margin: 0;
    position: absolute;
    display: flex;
    justify-items: start;
  }

  .left-info{
    width: 100%;
    height: 5rem;
    left: 0rem;
   
   
  } 
  
  .logo{
    flex: flex;
    align-items: flex-start;
    width: 6.25rem;
    height: 3.125rem;
    padding: 0rem;
    position: absolute;
    top: 2;
    left: 4rem;
   
    
  }

  .logo h1 {
    font-size: 1.25rem; 

  }

  .by-eafit {
    margin-top: -3rem; 
    gap: 0.5rem; 
   
  }

  .login-now h6 {
    transform: translateX(-3rem);
   
  }
.imagen-logo{
  width: 4rem;
  height: 2rem;
  translate: -3rem 0;
}


/*modo claro*/
.light-mode .imagen-logo{
  width: 5rem;
  height: 4rem;
  translate: -2rem 0.300rem;
}



  .login-now p {
    display: none;
  }
  

}







    
