.circle-container {
       position: relative;
       width: 100%;
       height: 100%;
       margin: 5%;
   
     
     }
     
     .title {
       display: flex;
       position: relative;
       margin-top: 5%;
       align-items: flex-start;
       justify-content: center;
       color: white;
       font-size: 2rem;
       font-family: Inter, sans-serif;
     }
     
     .circle {
       
       position: absolute;
       border-radius: 50%;
       text-align: center;
       display: flex;
       align-items: center;
       justify-content: center;
       color: black;
       font-weight: bold;
       cursor: pointer;
       padding: 10px;
       box-sizing: border-box;
       border: 4px solid white;
       translate: -50px -76px;
     }
     
     #que {
       position: absolute;
       width: 12.5rem;
       height: 12.5rem;
       align-items: flex-end;
       background-color: #DDAC17;
       top: 0;
       left: 0;
       z-index: 1;
       font-size: 13px;
       font-family: Inter, sans-serif;
     }
     
     #que:hover {
       font-size: 25px;
     }
     
     #que:active {
       transform: scale(1.1);
     }
     
     #como {
       position: relative;
       width:  6.5rem ;
       height:  6.5rem ;
       align-items: flex-end;
       background-color: #EEC440;
       top: 50px;
       left: 50px;
       z-index: 2;
       font-size: 12px;
       font-family: Inter, sans-serif;
     }
     
     #como:hover {
       font-size: 16px;
     }
     
     #como:active {
       transform: scale(1.1);
     }
     
     #porque {
       position: absolute;
       width: 3.125rem;
       height: 3.125rem;
       background-color: #FFFA8A;
       top: 100px;
       left: 100px;
       z-index: 3;
       font-size: 8px;
       font-family: Inter, sans-serif;
       translate: -75px -105px;
     }
     
     #porque:hover {
       font-size: 16px;
     }
     
     #porque:active {
       transform: scale(1.1);
     }
     
     #explanation {
      position: absolute;
      margin-top: 60%;
      margin-left: 1%;
      width: 15rem;
      padding: 10px;
      color: white;
      background-color: black;
      border: 2px solid #0000ff;
      border-radius: 5px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      font-size: 12px;
      /* Mantén el tamaño del contenedor fijo */
      max-height: 20px; /* Puedes ajustar esta altura según lo necesites */
      overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido es demasiado largo */
      translate: -80px -40px;
      display: none;
    }
     

    
    