<!-- user-list.component.html -->
<div class="user-list">
  <div class="tabs">
    <button [class.selected]="selectedUserType === 'Profesores'" (click)="selectedUserType='Profesores'">Profesores</button>
    <button [class.selected]="selectedUserType === 'Estudiantes'" (click)="selectedUserType='Estudiantes'">Estudiantes</button>
    <button [class.selected]="selectedUserType === 'Empresas'" (click)="selectedUserType='Empresas'">Empresas</button>
  </div>
  <ul>
    <li *ngFor="let user of filteredUsers" (click)="selectUser(user)"[class.selected]="user.id === selectedUserId">
      
      <img *ngIf="user.image" [src]="user.image" alt="{{ user.name }}">
      <div>
        <strong>{{ user.name }}</strong>
        <p>{{ user.email }}</p>
      </div>
    </li>
  </ul>
</div>
