
<div class="c-ten">
    <div class="container">
        <svg class="svg1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 752 681" fill="none">
            <path d="M738.126 339.744C698.119 631.665 927.659 691.942 369.063 679.489C165.235 679.489 0 527.38 0 339.744C0 152.109 165.235 0 369.063 0C572.891 0 738.126 152.109 738.126 339.744Z" fill="#0000FF" fill-opacity="0.7"/>
        </svg>
        <svg class="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 752 681" fill="none">
            <path d="M738.126 339.744C698.119 631.665 927.659 691.942 369.063 679.489C165.235 679.489 0 527.38 0 339.744C0 152.109 165.235 0 369.063 0C572.891 0 738.126 152.109 738.126 339.744Z" fill="#0000FF" fill-opacity="0.7"/>
        </svg>
        <div class="form-container">
            <h4>HOLA!</h4><h6>Cuéntanos <br>con qué curiosidad quedaste</h6>
            <form>
                <input type="text" name="name" placeholder="Nombre" required>
                <input type="email" name="email" placeholder="Email" required>
                <textarea name="subject" placeholder="Asunto" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>
