body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 12rem;
}

.container {
    position: relative;
    width: 75%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg1,
.svg2 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.svg1 {
    padding-top: 48px;
    padding-right: 50px;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -2rem;
    border-radius: 10px;
}

form input,
form textarea {
    font-size: 0.7rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
}

form textarea {
    height: 90px;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #000099;
}

/* Media queries para hacer el formulario responsive */
@media (max-width: 1024px) {
    form input,
    form textarea {
        width: 90%; /* Ajusta el ancho para pantallas más pequeñas */
        font-size: 0.8rem; /* Ajusta el tamaño de la fuente */
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%; /* Ajusta el ancho del contenedor */
        height: 80%; /* Ajusta el alto del contenedor */
    }

    form input,
    form textarea {
        width: 100%; /* Ajusta el ancho para pantallas más pequeñas */
        font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
    }

    form textarea {
        height: 120px; /* Ajusta la altura del textarea */
    }
}

@media (max-width: 480px) {
    body {
        margin-top: 5rem; /* Ajusta el margen superior para pantallas más pequeñas */
    }

    .container {
        width: 95%; /* Ajusta el ancho del contenedor */
        height: auto; /* Ajusta la altura del contenedor */
    }

    form input,
    form textarea {
        width: 100%; /* Ajusta el ancho del formulario */
        font-size: 1rem; /* Ajusta el tamaño de la fuente */
    }

    form textarea {
        height: 150px; /* Ajusta la altura del textarea */
    }
}
