.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-left: 7rem;
 
}

.svg-container {
  width: 35%;
  min-width: 20rem;
  max-width: 90rem;
  height: auto;
  margin-top: 19rem;
}

.formcaracterizacion {
  position: relative;
  bottom: -13rem;
  right: 13rem;
  background-color: #00ff;
  width: 30vw;
  max-width: 17rem;
  text-align: center;
  padding: 1.3rem 2rem;
  border-radius: 50px;
  margin-top: -3rem;
  font-size: .8rem;
  box-sizing: border-box;
}

.formcaracterizacion:hover {
  box-shadow: 0 0 0 3px black, 0 0 0 5px blue; 
  transition: box-shadow 0.3s ease-in-out;
}

.superponer {
  font-weight: 800;
  font-size: 1.3rem;
}

@media (max-width: 1024px) {
  .formcaracterizacion {
    width: 60vw;
    max-width: 15rem;
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .formcaracterizacion {
    width: 70vw;
    max-width: 15rem;
    min-width: 14rem;
    padding: 0.6rem 0.8rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .formcaracterizacion {
    width: 80vw;
    max-width: 15rem;
    padding: 0.4rem 0.6rem;
    font-size: 0.7rem;
  }
}
