/* Estilos globales */

/* Configura el tema oscuro por defecto */
body {
    background-color: black;
    color: #fff;
    overflow-y: hidden;
  }
  
  /* Modo claro */
  body.light-mode {
    background-color: white;
    color: black;
  }

  /*no aplica la elimanacion del desplazamiento en y en la landin*/

  body.exclude-overflow {
    overflow-y: auto;
  }

  
  /* Otros estilos */
  .weight-bold {
    font-weight: bold;
  }
  
  .text-dark {
    color: #6b6b6b;
  }
  
  .underline-hover:hover {
    text-decoration: underline;
  }
  
  .app-landing-page {
    overflow-y: auto; /* O cualquier valor que permita el desplazamiento */
  }

