/* Estilos globales */

/* Configura el tema oscuro por defecto */
body {
    background-color: black;
    color: #fff;
   
  }
  
  /* Modo claro */
  body.light-mode {
    background-color: white;
    color: black;
  }
  
  /* Otros estilos */
  .weight-bold {
    font-weight: bold;
  }
  
  .text-dark {
    color: #6b6b6b;
  }
  
  .underline-hover:hover {
    text-decoration: underline;
  }
  

