/* You can add global styles to this file, and also import other style files */


body {
  background: transparent;
  margin: 0;
  padding: 0;
  width: 100vh;
  height: 100vh;
  overflow: hidden; /* Esto asegura que no haya scroll */
  min-height: 100vh;
  }